<body>
    <div class="logo_white">
        <%= image_tag("logo-white.png", class:"logo-white") %>
    </div>
    <% main_slideshow = Refinery::ImageSlideshows::ImageSlideshow.includes(:image_slides).find_by_title('frontpage') %>
    <div id="wrapper">
        <% if main_slideshow %>
            <div class="slider-wrapper">
                <div id="slider">
                    <% main_slideshow.image_slides.each do |image_slide| %>
                        <%= link_to image_slide.link_url do %>
                            <%= image_tag image_slide.image.url, :alt => image_slide.title, :title => image_slide.caption %>
                        <% end %>
                    <% end %>

                </div>
            </div>
        <% else %>
            Please create the 'frontpage' slideshow in the admin section
        <% end %>
    </div>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
     var ready;
     ready = function(){
         $('#slider').nivoSlider({
             <%= raw main_slideshow.js_config if main_slideshow %>
         });
     };

     $(document).ready(ready);
     $(document).on('page:load', ready);
    </script>
</body>
