<div class="footer_center">
    <div class="footer_logo"><%= image_tag("logo-footer.png") %></div>
    <b>Publishing Solutions</b> PO Box 2081, Oak Park VIC 3046<br>
    <a href="tel:0388380731">Tel:(03) 8838 0731</a> Fax: (03) 9005 2067 <a href="mailto:solve@publishing-solutions.com.au">solve@publishing-solutions.com.au</a>
</div>

