/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require refinery/formatting
 *= require refinery/theme
 *= require nivo
 *= require owl.carousel
 *= require owl.theme
 *= require_self
 */ 

body {
    font-family: arial;
    font-size: 100%;
    line-height: 18px;
    margin:0px;
    padding:0px;
    width:100%;
}

.bg {background-color:#333;}

#side_body {
    left:10%;
    padding: 20px;
    margin:0 0 60px 0px;
    color:#777;
    letter-spacing:0.5px;
    line-height:1.2;
}

#side_body a {
    color:#ddd;
    font-weight:bold;
    letter-spacing:normal;
}

#side_body a:visited {
    color:#ddd;
}

#body {
    float:left;
    width:60%;
    background:white;
    padding:20px 20px 20px 20px;
    margin:16px 0 60px 40px;
    color:#555;
    letter-spacing:0.3px;
    line-height:1.2;

}
#body a {
    color:#404650;
    font-weight:bold;
    letter-spacing:normal;
    text-decoration:none;
    font-family:serif;
}

#body a:visited {
    color:#404650;
}

h1 {
    letter-spacing:0.2px;
    font-family:serif;
    color:#3498DB;
    font-size:35px;
}

h2 {
    letter-spacing:0px;
    font-family:serif;
    color:#3498DB;
}

h3 {
    font-size:25px;
    letter-spacing:0px;
    font-family:serif;
    color:#BBB;
}

.active {background:none;}

#page {
}

.content_rigth {
    float:right;
    width:75%;
    height:auto;

}


.content_left {
    float:right;
    width:25%;
    height:auto;
    position:relative;
    left:0px;
}

.logo {
    position:absolute;
    right:0px;;
    margin-top:50px;
    margin-right:3px;
}

.logo-white {
    position:absolute;
    right:75%;
    margin-top:50px;
    margin-right:3px;
}



/*------------ HEADER --------------*/
#header_container {
    border-top:6px solid #13b5ea;
    position:relative;
    background-color:white;
    background-image:url("lines.png");
    background-repeat: repeat-x;
    padding-bottom:3px;

}

.header_left {
    vertical-align:top; /*Align the items to the top*/
    display:inline-block;
    width:25%;
    height:220px;
    position:relative;
}

.ribbon_left {
    background-color:#13b5ea;
    height:220px;
    position:absolute;
    margin-right:73px;
    right:0px;
    bottom:0px;
    width:42px; 
}

.ribbon_left:after {
	content: ""; 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	border-top: 42px solid #13b5ea; 
	border-left: 42px solid #fff; 
	height: 0; 
}


.ribbon_right {
    background-color:#3498DB;
    height:42px;
    position:absolute;
    margin-right:3px;
    right:0px;
    bottom:0px;
    width:70px; 
}

.header_right {
    display:inline-block;
    width:75%;
    height:220px;
    position:absolute;
    right:0px;
}

.image-box {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-112px;
    margin-left:-175px;
    width:350px;
    height:154px;
}

.header_image {
    width:100%;
}

.nav_bar {
    background-color:#404650;
    height:42px;
    width:100%;
    position:absolute;
    bottom: 0px;
}


#menu ul /*Container ul*/
{
    display:inline-block;
    margin:0px;
    padding:0px;
    list-style:none; /*Remove the dots*/
}

#menu ul li /*Normal listitem (the ones you'll always see)*/
{
    vertical-align:top; /*Align the items to the top*/
    display:inline-block; /*Let the items make a horizontal line*/
}

#menu ul li a /*The buttons you'll always see*/
{
    display:inline-block;
    padding:12px 16px;
    background:#404650;
    color:white;
    text-decoration:none;
    text-align:center;
    font-size:small;
}


#menu ul li a:hover:not(.active)
{
    background-color: #111;
}

.active
{
    /* background-color: #4CAF50; */
}


/*------------ CONTENT_PAGE --------------*/



/*------------ FOOTER --------------*/

footer {
    font-size:small;
    background-color:#3498DB;
    height:60px;
    position:fixed;
    bottom:0px;
    width:100%;
    padding:25px 0 12px 0;
    color:white;
}

.footer_center {
    position:absolute;
    display:inline-block;
    height:40px;
    width:60%;
    left:25%;
}

.footer_center a{
    color:white;
}

.footer_right {
    display:inline-block;
    height:40px;
    width:30%;
    position:absolute;
    right:0px;
}

.footer_logo {
    float:left;
    width:30px;
    height:40px;
    margin-right:20px;
}


/*------------ SLIDESHOW --------------*/

.slider-wrapper {
    z-index:-1000;
    position:relative;
    top:0;
    left:0;
    cursor:default;
    mix-height: 100%!important;
    max-height: 100%;
    width: auto\9;
    border: 0;
    -ms-interpolation-mode: bicubic;

}
    
}

.slider-wrapper img{
    margin-top:225px;
}

.nivo-caption {
    position:absolute;
    left:0;
    right:0;
    top:220px;
    overflow:hidden;
    background:none;
    font-family:Serif;
    color:#FFF;
    font-weight:bold;
    font-size:40px;
    line-height:40px;
    text-align:center;
    z-index:8;
    padding:0% 32% 0px 32%;
}

.backlists {
    display:none;
}

/*------------ BACKLIST PRODUCTS --------------*/
#genres {
    min-width:800px;
}

.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 8px;
    font-size: 15px;
    padding-bottom: 3px;
}

.genre_link  {
    padding:20px 15px 0px 0;
    position:static;
}

.backlists li {
    display:inline-block;
    margin-top:20px;

}

.backlists li img{
    margin-right:10px;
    display:block;

}

.product_title {
    font-family:serif;
    font-style:italic;
    color:#222;
    font-size:small;
    font-weight:bold;
    text-align:center;
}

.product_author {
    font-family:serif;
    font-style:italic;
    color:#222;
    font-size:small;
    text-align:center;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {}

.owl-theme .owl-controls .owl-page span {
    background:#3498DB;
    margin-top:25px;
}

.active {
    background:none;
}

/*------------ INQUIRIES FORM --------------*/

.inquiries form {
    position:relative;
    left:350px;
}

.new_inquiry {width:280px;}

.inquiries form label {
    display: block;
    margin: 0px 0px 0px 0px;
    width: 60px;
    font-weight: bold;
    float:left;
    font-size:small;
    padding-top:10px;
}

.inquiries form input, textarea {
    margin-top:10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    resize:none;
}

.inquiries form input:focus, textarea:focus {
    border: 1px solid #3498DB;
}

.inquiries textarea{
    height:100px;
    width: 220px;
}

.inquiries form input.text {
    margin-top:2px;
    width:220px;
}

.inquiries form input[type=submit],
.inquiries form input[type=button]{
    margin-left:60px;
    border: none;
    padding: 8px 15px 8px 15px;
    background: #13b5ea;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width:220px;
}
.inquiries form input[type=submit]:hover,
.inquiries form input[type=button]:hover{
    background: #3498DB;
    color: #fff;
}

.contact_text {
    position:absolute;
    float:left;
    border-right:#DDD solid 2px;
    margin:-20px 50px 0 0;
    padding-right:50px;
    height:280px;
}

.form_title {
    font-weight:bold;
    font-style:italic;
    margin:10px 0 20px 0;
    color:#aaa;
}

